<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.spring.item.dao.ItemMapper">

	<!-- 상품 등록 -->
	<insert id="insertItem" parameterType="itemVO">
		INSERT INTO spitem(
			item_num,
			name,
			price,
			quantity,
			photo1,
			photo_name1,
			photo2,
			photo_name2,
			delivery_limit,
			delivery_fee,
			detail,
			status
			)
		VALUES (
			spitem_seq.nextval,
			#{name},
			#{price},
			#{quantity},
			#{photo1},
			#{photo_name1},
			#{photo2},
			#{photo_name2},
			#{delivery_limit},
			#{delivery_fee},
			#{detail},
			#{status}
			)
	</insert>
	
	<!-- sql태그와 include태그를 이용해 SQL문 재사용 -->
	<sql id="itemSearch">
		WHERE status > #{status} 
		<if test="keyword != null and keyword != ''">
			<if test="keyfield == 1">
				AND name LIKE '%' || #{keyword} || '%'
			</if>
			<if test="keyfield == 2">
				AND detail LIKE '%' || #{keyword} || '%'
			</if>
			<if test="keyfield == 3">
				AND (name LIKE '%' || #{keyword} || '%' OR detail LIKE '%' || #{keyword} || '%') 
			</if>
		</if>
	</sql>

	<!-- 전체or검색 레코드 수 -->
	<select id="selectItemCount" parameterType="map" resultType="integer">
		SELECT COUNT(*) 
		FROM spitem 
		<include refid="itemSearch"></include>
	</select>

	<!-- 전체or검색 목록 -->
	<select id="selectItemList" parameterType="map" resultType="itemVO">
		SELECT * 
		FROM (SELECT a.*, rownum rnum 
			  FROM (SELECT * 
			  		FROM spitem
			  		<include refid="itemSearch"></include>
			  		ORDER BY item_num DESC)a)
		<![CDATA[
		WHERE rnum >= #{start} AND rnum <= #{end}	
		]]>
	</select>





</mapper>